<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <meta name="description" content="I am a salesman who codes! I like to learn new things and apply them to old problems. Because I believe innovations happen at intersections. I taught myself Web Development, Python & Business Presentation. Currently, I am learning to leverage AI for my analytics work. I do this because I enjoy it. In my opinion, the possibilities are endless if I keep learning new things." />
  <meta property="og:title" content="Vineeth Nekkanti's Web CV" />
  <meta property="og:url" content="https://www.iamvineeth.com/" />
  <meta property="og:image" content="https://i.ibb.co/7y0kF5N/WP-img.png" />

  <link rel="icon" href="favicon.ico?v=2">
  <title>Vineeth Nekkanti</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous"
    referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/styles.css">
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YXJC2BE2Q3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-YXJC2BE2Q3');
</script>