<%- include('partials/header') %>

<body>
  <div class="container">
    <div class="left-side">
      <div class="profileText">
        <div class="imgBox">
          <img src="images/Photo Suit.jpeg" alt="Profile Picture">
        </div>
        <h2>Vineeth Nekkanti <br> <span>Area Sales Manager </span></h2>
        <img src="images/company-logo.png" alt="Kenvue India" style="width: 150px;">
      </div>
      <div class="contactInfo">
        <h3 class="title">Contact Me</h3>
        <ul>
          <li>
            <span class="icon"><i class="fa fa-phone fa-lg" aria-hidden="true"></i></span>
            <span class="text"><a href="tel:+917509306259">+91-7509306259</a></span>
          </li>
          <li>
            <span class="icon"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></span>
            <span class="text"><a href="mailto:vineethnekkanti314@gmail.com?subject=We would like to get in touch with you">vineethnekkanti314@gmail.com</a></span>
          </li>
          <li>
            <span class="icon"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></span>
            <span class="text"><a href="https://www.linkedin.com/in/vineeth-nekkanti-78381b174/" target="_blank">www.linkedin.com/Me</a></span>
          </li>
          <li>
            <span class="icon"><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i></span>
            <span class="text">Hyderabad, India</span>
          </li>
        </ul>
      </div>

      <div class="contactInfo education">
        <h3 class="title">Education</h3>
        <ul>
          <li>
            <h5>2019-2021</h5>
            <h4>Post Garduate Program in Management</h4>
            <h4>Management Development Institute, Gurgaon</h4>
          </li>
          <li>
            <h5>2014-2018</h5>
            <h4>Bachelor of Technolgy in Mechanical Engineering</h4>
            <h4>National Institute of Technology, Raipur</h4>
          </li>
        </ul>
      </div>

      <div class="contactInfo languages">
        <h3 class="title">Languages</h3>
        <div class="languageContainer">
          <div class="human">
            <i class="fa fa-male fa-2x" aria-hidden="true"></i>
            <ul>
              <li>English</li>
              <li>Hindi</li>
              <li>Telugu</li>
            </ul>
          </div>

          <div class="machine">
            <i class="fa fa-laptop fa-2x" aria-hidden="true"></i>
            <ul>
              <li>Python/R</li>
              <li>SQL</li>
              <li>MERN Stack</li>
            </ul>
          </div>
        </div>
        </div>
        <div class="about skills">
                <h3 class="title">Professional Skills</h3>
                <div class="box">
                    <h4>Presentations</h4>
                  <div class="percent">
                    <div style ="width :95%;"></div>
                  </div>
                </div>
                <div class="box">
                  <h4>Data Analysis</h4>
                  <div class="percent">
                    <div style ="width :85%;"></div>
                  </div>
                </div>
                <div class="box">
                  <h4>Python & R</h4>
                  <div class="percent">
                    <div style ="width :80%;"></div>
                  </div>
                </div>
                <div class="box">
                  <h4>Web Dev</h4>
                  <div class="percent">
                    <div style ="width :70%;"></div>
                  </div>
                </div>
              </div>

        <div class="logo-title">
          <h3 class="title">My Brand & Philosophy</h3>
        </div>
      <div class="logo">
          <img src="images/Vineeth.png" alt="">
      </div>


    </div>
    <div class="right-side">
      <div class="about">
        <h2 class="title2">About Me</h2>
        <p>I am <b>a salesman who codes</b>! I like to learn new things and apply them to old problems, because I believe <b>innovations happen at intersections</b></p>
        <p>I taught myself Web Development, Business Presentation & Data Analytics. Currently, I am building a forecasting model for our sales in Kolkata!.</p>
        <p>I do this because I enjoy it. In my opinion, the possibilities are endless if I keep learning new things.</p>
      </div>

      <div class="about experience">
        <h2 class="title2">Work Experience</h2>
        <span id="notes"><b>(Click on the black highlights to learn more)</b></span>

        <div class="box">
          <div class="year_company">
            <h5>Oct'2024-Present</h5>
            <h5>Kenvue (erst. J&J Consumer Health)</h5>
          </div>
          <div class="text">
            <h4>Senior Analytics Manager</h4>
            <p>> Developed top store forecasting model for Kolkata <br>
               > Developed <button class="button ASM-button">ASM Framework</button>  to hit the ground running <br>
               > Created <button class="button Digital-Twin-button">Digital Twin</button> of Kolkata Retailer Base <br>
            </p>
          </div>

        </div>
        <div class="box">
          <div class="year_company">
            <h5>Jun'2022-Sep'2024</h5>
            <h5>Kenvue (erst. J&J Consumer Health)</h5>
          </div>
          <div class="text">
            <h4>Area Sales Manager, Kolkata</h4>
            <p>> Developed top store forecasting model for Kolkata <br>
               > Developed <button class="button ASM-button">ASM Framework</button>  to hit the ground running <br>
               > Created <button class="button Digital-Twin-button">Digital Twin</button> of Kolkata Retailer Base <br>
               > Saved <b>200 Man-Hrs/Qtr</b> with my <button class="button One-Program-button">1 Program Tracker</button><br>
               > Increased retailer payout usage from <b>80% to 99%</b> </p>
          </div>

              <dialog class="modal" id="ASM_modal">
                <h2>The ASM Framework</h2>
                <img src="images/asm.jpg" alt="">
                <button class="button ASM-close-button">Click to close</button>
              </dialog>

              <dialog class="modal" id="Digital_Twin_modal">
                <h2>Retailer Map - geotagged sales data</h2>
                <img src="images/kolkata-map.png" alt="">
                <button class="button Digital-Twin-close-button">Click to close</button>
              </dialog>

              <dialog class="modal" id="One_Program_modal">
                <h2>Comprehensive Target Setting & Tracking</h2>
                <img src="images/oneprogram.jpg" alt="">
                <button class="button One-Program-close-button">Click to close</button>
              </dialog>

        </div>

        <div class="box">
          <div class="year_company">
            <h5>Jul'2021-May'2022</h5>
            <h5>Johnson & Johnson Consumer Health</h5>
          </div>
          <div class="text">
            <h4>Management Trainee</h4>
            <p>> Handled a <button class="button lynk-button">Distribution Start-Up</button> in Chennai <br>
               > Developed 1st ever Route Tracking Dashboard <br>
               > Developed a comprehensive <button class="button book-button">RDSSM Booklet</button> <br>
               > <button class="button turn-button">Turned it around</button> in 4 short months <br>
               > Helped launch <button class="button ntg-button">Neutrogena Bright Boost</button> in India <br>
               > Helped launch 1st ever <button class="button aveeno-button">Aveeno Website</button><br>
              </p>
          </div>

              <dialog class="modal" id="lynk_modal">
                <a href="https://yourstory.com/2018/04/truck-aggregator-lynk-logistics-steers-smes-individuals-last-mile-connectivity"><h2>Lynk Logistics - Leveraging Tech in FMCG Distribution</h2></a>
                <img src="images/lynkteam.png" alt="">
                <button class="button lynk-close-button">Click to close</button>
              </dialog>

              <dialog class="modal" id="book_modal">
                <h2>A comprehensive On-Field Guide for RDSSMs</h2>
                <img src="images/rdssm.jpg" alt="">
                <button class="button book-close-button">Click to close</button>
              </dialog>

              <dialog class="modal" id="turn_modal">
                <h2>Growth across all key parameters</h2>
                <img src="images/turnaround.jpg" alt="">
                <button class="button turn-close-button">Click to close</button>
              </dialog>

              <dialog class="modal" id="ntg_modal">
                <a href="https://www.nykaa.com/neutrogena-bright-boost-gel-cream/p/5290326?skuId=5290325"><h2>Shine Bright with Bright Boost</h2></a>
                <img src="images/bb.jpg" alt="">
                <button class="button ntg-close-button">Click to close</button>
              </dialog>

              <dialog class="modal" id="aveeno_modal">
                <a href="https://www.aveeno.in/"><h2>Aveeno Website</h2></a>
                <img src="images/aveeno.png" alt="">
                <button class="button aveeno-close-button">Click to close</button>
              </dialog>


        </div>

        <div class="box">
          <div class="year_company">
            <h5>2018-2019</h5>
            <h5>L&T Construction</h5>
          </div>
          <div class="text">
            <h4>Graduate Engineering Trainee</h4>
            <p>> Understood the basics of Construction Business <br>
               > Helped build India's Largest <button class="button stp-button">Sewage Treatment Plant</button><br>
               > Handled field safety for a 350 people work site <br></p>
          </div>

          <dialog class="modal" id="stp_modal">
            <a href="https://timesofindia.indiatimes.com/city/delhi/cm-inspects-delhis-biggest-waste-water-treatment-plant/articleshow/91949301.cms"><h2>Coronation Pillar - India's Largest STP</h2></a>
            <img src="images/stp.png" alt="">
            <button class="button stp-close-button">Click to close</button>
          </dialog>

        </div>
      </div>

      <div class="about skills">
        <h2 class="title2">Certifications</h2>
        <span id="notes"><b>(Click on the Credly Badges to learn more)</b></span>
      <div class = "credly-badges">
        <a href="https://www.credly.com/badges/227893b8-683a-4f16-bd86-52e897999f44/embedded" style="text-decoration: none; color: #003147;" target="_blank">
          <figure>
            <img src="images/data_essentials.png" alt="Data Analytics Essentials" height="120px" style="border-radius:50%; margin:15px;">
            <!-- <figcaption>
              <h5>Data Analytics Essentials</h5>
            </figcaption> -->
          </figure>
      </a>
      <a href="https://www.credly.com/badges/6660521c-5d79-4167-be6b-32e204297103/embedded" style="text-decoration: none; color: #003147;" target="_blank">
        <figure>
          <img src="images/data_analysis.png" alt="Data Analysis with Python" height="120px" style="border-radius:50%; margin:15px;">
          <!-- <figcaption>
            <h5>Data Analysis with Python</h5>
          </figcaption> -->
        </figure>
      </a>
      <a href="https://www.credly.com/badges/1396870f-e9f7-4a51-9dd9-d8887cf0d8c7/embedded" style="text-decoration: none; color: #003147;" target="_blank">
        <figure>
          <img src="images/data_visual.png" alt="Data Visualization with Python" height="120px" style="border-radius:50%; margin:15px;">
          <!-- <figcaption>
            <h5>Data Visualization with Python</h5>
          </figcaption> -->
        </figure>
      </a>
      <a href="https://www.credly.com/badges/da74ce6f-e4fd-4757-aadf-cb3f6da6c7fc/embedded" style="text-decoration: none; color: #003147;" target="_blank">
        <figure>
          <img src="images/sql.png" alt="Databases and SQL for Data Science" height="120px" style="border-radius:50%; margin:15px;">
          <!-- <figcaption>
            <h5>Databases and SQL for Data Science</h5>
          </figcaption> -->
        </figure>
      </a>
      <a href="https://www.credly.com/badges/1c7ae7db-0330-4052-805e-4b231e81e4d1/embedded" style="text-decoration: none; color: #003147;" target="_blank">
        <figure>
          <img src="images/capstone.png" alt="Data Analyst Capstone Project" height="120px" style="border-radius:50%; margin:15px;">
          <!-- <figcaption>
            <h5>Data Analyst Capstone Project</h5>
          </figcaption> -->
        </figure>
      </a>
      <a href="https://www.credly.com/badges/f8882bf6-6b05-4ad1-a684-79a9c1e63b78/embedded" style="text-decoration: none; color: #003147;" target="_blank">
        <figure>
          <img src="images/data_cert.png" alt="Data Analyst Professional Certificate" height="120px" style="margin:15px;">
          <!-- <figcaption>
            <h5>Data Analyst Professional Certificate</h5>
          </figcaption> -->
        </figure>
      </a>
      </div>

      </div>


      <div class="about interests">
        <h2 class="title2">Interests </h2>
        <span id="notes"><b>(Click on the icons to explore my interests)</b></span>
        <div class="Passion-Icons">
          <a href="/story" style="text-decoration: none; color: #003147;">
              <figure>
                <img src="images/sales.gif" alt="Sales" height="120px" style="border-radius:50%; margin:15px;">
                <figcaption>
                  <h5>Data Stories</h5>
                </figcaption>
              </figure>
          </a>

        <a href="/webdev" style="text-decoration: none; color: #003147;">
          <figure>
            <img src="images/webdev.gif" alt="Sales" height="120px" style="border-radius:50%; margin:15px;">
            <figcaption>
              <h5>Python & Web Dev</h5>
            </figcaption>
          </figure>
        </a>

        <a href="/cycling" style="text-decoration: none; color: #003147;">
          <figure>
            <img src="images/cycling.gif" alt="Sales" height="120px" style="border-radius:50%; margin:15px;">
            <figcaption>
              <h5>Endurance Cycling</h5>
            </figcaption>
          </figure>
        </a>

        </div>
      </div>

    </div>
  </div>
</body>

<script>
const ASM_modal = document.querySelector("#ASM_modal");
const ASM_button = document.querySelector(".ASM-button");
const ASM_closeModal = document.querySelector(".ASM-close-button");
ASM_button.addEventListener("click", () => {
ASM_modal.showModal();
});
ASM_closeModal.addEventListener("click", () => {
ASM_modal.close();
});

const Digital_Twin_modal = document.querySelector("#Digital_Twin_modal");
const Digital_Twin_button = document.querySelector(".Digital-Twin-button");
const Digital_Twin_closeModal = document.querySelector(".Digital-Twin-close-button");
Digital_Twin_button.addEventListener("click", () => {
Digital_Twin_modal.showModal();
});
Digital_Twin_closeModal.addEventListener("click", () => {
Digital_Twin_modal.close();
});

const One_Program_modal = document.querySelector("#One_Program_modal");
const One_Program_button = document.querySelector(".One-Program-button");
const One_Program_closeModal = document.querySelector(".One-Program-close-button");
One_Program_button.addEventListener("click", () => {
One_Program_modal.showModal();
});
One_Program_closeModal.addEventListener("click", () => {
One_Program_modal.close();
});

const lynk_modal = document.querySelector("#lynk_modal");
const lynk_button = document.querySelector(".lynk-button");
const lynk_closeModal = document.querySelector(".lynk-close-button");
lynk_button.addEventListener("click", () => {
lynk_modal.showModal();
});
lynk_closeModal.addEventListener("click", () => {
lynk_modal.close();
});

const book_modal = document.querySelector("#book_modal");
const book_button = document.querySelector(".book-button");
const book_closeModal = document.querySelector(".book-close-button");
book_button.addEventListener("click", () => {
book_modal.showModal();
});
book_closeModal.addEventListener("click", () => {
book_modal.close();
});

const turn_modal = document.querySelector("#turn_modal");
const turn_button = document.querySelector(".turn-button");
const turn_closeModal = document.querySelector(".turn-close-button");
turn_button.addEventListener("click", () => {
turn_modal.showModal();
});
turn_closeModal.addEventListener("click", () => {
turn_modal.close();
});

const ntg_modal = document.querySelector("#ntg_modal");
const ntg_button = document.querySelector(".ntg-button");
const ntg_closeModal = document.querySelector(".ntg-close-button");
ntg_button.addEventListener("click", () => {
ntg_modal.showModal();
});
ntg_closeModal.addEventListener("click", () => {
ntg_modal.close();
});

const aveeno_modal = document.querySelector("#aveeno_modal");
const aveeno_button = document.querySelector(".aveeno-button");
const aveeno_closeModal = document.querySelector(".aveeno-close-button");
aveeno_button.addEventListener("click", () => {
aveeno_modal.showModal();
});
aveeno_closeModal.addEventListener("click", () => {
aveeno_modal.close();
});

const stp_modal = document.querySelector("#stp_modal");
const stp_button = document.querySelector(".stp-button");
const stp_closeModal = document.querySelector(".stp-close-button");
stp_button.addEventListener("click", () => {
stp_modal.showModal();
});
stp_closeModal.addEventListener("click", () => {
stp_modal.close();
});

</script>

</html>
