<%- include('partials/header') %>

<body>
  <div class="container">
    <div class="left-side">
      <div class="profileText">
        <div class="imgBox">
          <img src="images/Photo Suit.jpeg" alt="Profile Picture">
        </div>
        <h2>Vineeth Nekkanti <br> <span>Area Sales Manager</span></h2>
      </div>
      <div class="contactInfo">
        <h3 class="title">Contact Me</h3>
        <ul>
          <li>
            <span class="icon"><i class="fa fa-phone fa-lg" aria-hidden="true"></i></span>
            <span class="text">+91-7509306259</span>
          </li>
          <li>
            <span class="icon"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></span>
            <span class="text"><a href="mailto:vineethnekkanti314@gmail.com?subject=Dear Vineeth, we would like to get in touch with you">vineethnekkanti314@gmail.com</a></span>
          </li>
          <li>
            <span class="icon"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></span>
            <span class="text"><a href="https://www.linkedin.com/in/vineeth-nekkanti-78381b174/" target="_blank">www.linkedin.com/Me</a></span>
          </li>
          <li>
            <span class="icon"><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i></span>
            <span class="text">Hyderabad, India</span>
          </li>
        </ul>
      </div>

      <div class="contactInfo education">
        <h3 class="title">Education</h3>
        <ul>
          <li>
            <h5>2019-2021</h5>
            <h4>Post Garduate Program in Management</h4>
            <h4>Management Development Institute, Gurgaon</h4>
          </li>
          <li>
            <h5>2014-2018</h5>
            <h4>Bachelor of Technolgy in Mechanical Engineering</h4>
            <h4>National Institute of Technology, Raipur</h4>
          </li>
        </ul>
      </div>

      <div class="contactInfo languages">
        <h3 class="title">Languages</h3>
        <div class="languageContainer">
          <div class="human">
            <i class="fa fa-male fa-2x" aria-hidden="true"></i>
            <ul>
              <li>English</li>
              <li>Hindi</li>
              <li>Telugu</li>
            </ul>
          </div>

          <div class="machine">
            <i class="fa fa-laptop fa-2x" aria-hidden="true"></i>
            <ul>
              <li>HTML/CSS</li>
              <li>JS/Express</li>
              <li>MongoDB</li>
            </ul>
          </div>
        </div>
        </div>
      <div class="logo">
          <img src="images/Vineeth.png" alt="">
      </div>


    </div>
    <div class="right-side">
      <div class="about">
        <h2 class="title2">About Me</h2>
        <p>I am <b>one of the few Salesmen in this country who can code</b>. I like to learn new things and apply them to solve old problems.
          I taught myself Business Presentations, Web Development and Python. Currently I am learning Data Science.
        I do this because I enjoy it. And I believe if I can learn to learn new things by myself, I can learn anything.
        And with that the world becomes my oyester!  </p>
      </div>

      <div class="about">
        <h2 class="title2">Work Experience</h2>
        <div class="box">
          <div class="year_company">
            <h5>2022-Present</h5>
            <h5>Johnson & Johnson Consumer Health</h5>
          </div>
          <div class="text">
            <h4>Area Sales Manager, Kolkata</h4>
            <p>> Developed ASM framework to hit the ground running <br>
               > Created Digital Twin of Kolkata Retailer Base <br>
               > Increased retailer payout disbursement from 80% to 99% <br>
               > Induced process oriented growth in Business </p>
          </div>
        </div>

        <div class="box">
          <div class="year_company">
            <h5>2021-2022</h5>
            <h5>Johnson & Johnson Consumer Health</h5>
          </div>
          <div class="text">
            <h4>Management Trainee</h4>
            <p>> Handled a distribution house in Chennai <br>
               > Imporved SSS ways of working <br>
               > Achieved a growth of 20% in 6 short months <br></p>
          </div>
        </div>

        <div class="box">
          <div class="year_company">
            <h5>2018-2019</h5>
            <h5>L&T Construction</h5>
          </div>
          <div class="text">
            <h4>Graduate Engineering Trainee</h4>
            <p>> Understood the basics of Construction Business <br>
            > Worked on the Largest STP in Asia <br>
          > Handled field safety for a 350 people strong Site <br></p>
          </div>
        </div>
      </div>

      <div class="about skills">
        <h2 class="title2">Professional Skills</h2>
        <div class="box">
          <h4>Presentations</h4>
          <div class="percent">
            <div style ="width :95%;"></div>
          </div>
        </div>
        <div class="box">
          <h4>Data Analysis</h4>
          <div class="percent">
            <div style ="width :85%;"></div>
          </div>
        </div>
        <div class="box">
          <h4>Web Dev</h4>
          <div class="percent">
            <div style ="width :75%;"></div>
          </div>
        </div>
        <div class="box">
          <h4>Python</h4>
          <div class="percent">
            <div style ="width :65%;"></div>
          </div>
        </div>
        <div class="box">
          <h4>Data Science</h4>
          <div class="percent">
            <div style ="width :50%;"></div>
          </div>
        </div>
      </div>

      <div class="about interests">
        <h2 class="title2">Interests</h2>
        <div class="Passion-Icons">
          <figure>
            <a href="/story"><img src="images/sales.gif" alt="Sales" height="120px" style="border-radius:50%; margin:15px;"></a>
            <figcaption>
              <a href="/story"><h5>Sales & Stories</h5></a>
            </figcaption>
          </figure>
          <figure>
            <a href="/cycling"><img src="images/cycling.gif" alt="Sales" height="120px" style="border-radius:50%; margin:15px;"></a>
            <figcaption>
              <a href="/cycling"><h5>Edurance Cycling</h5></a>
            </figcaption>
          </figure>
          <figure>
            <a href="/webdev"><img src="images/webdev.gif" alt="Sales" height="120px" style="border-radius:50%; margin:15px;"></a>
            <figcaption>
              <a href="/webdev"><h5>Web Development</h5></a>
            </figcaption>
          </figure>
        </div>
      </div>

    </div>
  </div>
</body>

</html>
