<%- include('partials/header') %>

<body>
    <div class="subpage-container">
        <button class="nav-button" onclick="window.location.href = '/';"> < Back to home</button>
        <h2>Cycling Tales</h2>
        
        <h3>The Art</h3>
        <img src="images/certificate.png" alt="">
        <h3>The Artist</h3>
        <img src="images/beast2.png" alt="">

    </div>
</body>