<%- include('partials/header') %>

<body>
    <div class="subpage-container">
        <button class="nav-button" onclick="window.location.href = '/';"> < Back to home</button>
        <h2>Cycling Tales</h2>

    </div>
</body>