<%- include('partials/header') %>

<body>
    <div class="subpage-container">
        <button class="nav-button" onclick="window.location.href = '/';"> < Back to home</button>
        <h2>Stories</h2>
    <div class="card-container">
        <div class="card">
            <a href="https://link.medium.com/BenyihXx6xb" style="text-decoration: none;" target="_blank">
             <div class="card-image">
                <img src="images/SAML.png">
             </div>
             <div class="card-text">
              <h4><b>The Quickest way to decode FMCG Sales</b></h4>
              <p>12th March 2023</p>
             </div>
            </a>
        </div>

        <div class="card">
            <a href="https://link.medium.com/sp7Y4Xdkiyb" style="text-decoration: none;" target="_blank">
            
             <div class="card-image">
                <img src="images/Maps.png">
             </div>
             <div class="card-text">
              <h4><b>Google Maps - Your Ultimate FMCG Sales Tool</b></h4>
              <p>19th March 2023</p>
             </div>
            </a>
        </div>
    </div>

    </div>
</body>