<%- include('partials/header') %>

<body>
    <div class="subpage-container">
        <button class="nav-button" onclick="window.location.href = '/';"> < Back to home</button>
        <h2>Stories</h2>

        <a href="https://link.medium.com/BenyihXx6xb" style="text-decoration: none;" target="_blank">
            <div class="card">
             <div class="card-image">
                <img src="images/SAML.png">
             </div>
             <div class="card-text">
              <h4><b>The Quickest way to decode FMCG Sales</b></h4>
              <p>12th March 2023</p>
             </div>
          </div>
        </a>

    </div>
</body>