<%- include('partials/header') %>

<body>
    <div class="subpage-container">
        <button class="nav-button" onclick="window.location.href = '/';"> < Back to home</button>
        <h2>My Projects</h2>
    <div class="card-container">
        <div class="card">
            <a href="https://github.com/VineethNekkanti/ctc" style="text-decoration: none;" target="_blank">
             <div class="card-image">
                <img src="images/ctc.jpg">
             </div>
             <div class="card-text">
              <h4>My first full-stack website</h4>
              <h5>A website to collect corporate reviews</h5>
              <p>14th April 2022</p>
             </div>
            </a>
        </div>

        <div class="card">
            <a href="https://my-1st-cv.onrender.com/" style="text-decoration: none;" target="_blank">
            
             <div class="card-image">
                <img src="images/1stCV.png">
             </div>
             <div class="card-text">
                <h4>My first personal website using CSS</h4>
                <h5>A website to chronicle my career</h5> 
                <p>10th February 2022</p>
             </div>
            </a>
        </div>

        <div class="card">
            <a href="https://vineethnekkanti.github.io/Tindog/" style="text-decoration: none;" target="_blank">
            
             <div class="card-image">
                <img src="images/tindog.png">
             </div>
             <div class="card-text">
                <h4>I built a tinder for Dogs!</h4>
                <h5>My 1st responsive website as a course assignment with App Brewery</h5>
                <p>15th March 2022</p>
             </div>
            </a>
        </div>

        <div class="card">
            <a href="https://vineethnekkanti.github.io/Dicee/" style="text-decoration: none;" target="_blank">
            
             <div class="card-image">
                <img src="images/dicee.png">
             </div>
             <div class="card-text">
                <h4>Let's Play Dicee!</h4>
                <h5>A dice roll simulation built with JavaScript</h5>
                <p>9th Jun 2022</p>
             </div>
            </a>
        </div>
    </div>

    </div>
</body>