<%- include('partials/header') %>

<body>
    <div class="subpage-container">
        <button class="nav-button" onclick="window.location.href = '/';"> < Back to home</button>
        <h2>My Projects</h2>
    <div class="card-container">
        <div class="card">
            <a href="https://github.com/VineethNekkanti/ctc" style="text-decoration: none;" target="_blank">
             <div class="card-image">
                <img src="images/ctc.jpg">
             </div>
             <div class="card-text">
              <h4>My first full-stack website</h4>
              <h5>A website to collect corporate reviews</h5>
              <p>14th April 2022</p>
             </div>
            </a>
        </div>

        <div class="card">
            <a href="https://my-1st-cv.onrender.com/" style="text-decoration: none;" target="_blank">
            
             <div class="card-image">
                <img src="images/1stCV.png">
             </div>
             <div class="card-text">
                <h4>My first personal website using CSS</h4>
                <h5>A website to chronicle my career</h5> 
                <p>10th February 2022</p>
             </div>
            </a>
        </div>

        <div class="card">
            <a href="https://vineethnekkanti.github.io/Tindog/" style="text-decoration: none;" target="_blank">
            
             <div class="card-image">
                <img src="images/tindog.png">
             </div>
             <div class="card-text">
                <h4>I built a tinder for Dogs!</h4>
                <h5>My 1st responsive website as a course assignment with App Brewery</h5>
                <p>15th March 2022</p>
             </div>
            </a>
        </div>

        <div class="card">
            <a href="https://vineethnekkanti.github.io/Dicee/" style="text-decoration: none;" target="_blank">
            
             <div class="card-image">
                <img src="images/dicee.png">
             </div>
             <div class="card-text">
                <h4>Let's Play Dicee!</h4>
                <h5>A dual dice roll simulation built with JavaScript</h5>
                <p>9th Jun 2022</p>
             </div>
            </a>
        </div>

        <div class="card">
            <a href="https://replit.com/@VineethN/MyPass-App?v=1?outputonly=1&lite=true" style="text-decoration: none;" target="_blank">
            
             <div class="card-image">
                <img src="images/mypass.png">
             </div>
             <div class="card-text">
                <h4>Password Manager</h4>
                <h5>A handy tool to store your passwords as soon as you set them</h5>
                <p>15th Dec 2022</p>
             </div>
            </a>
        </div>

        <div class="card">
            <a href="https://replit.com/@VineethN/Make-a-Hirst-Painting?v=1?outputonly=1&lite=true" style="text-decoration: none;" target="_blank">
            
             <div class="card-image">
                <img src="images/hirst.jpg">
             </div>
             <div class="card-text">
                <h4>Make Hirst Paintings!</h4>
                <h5>A python script that makes Hirst Paintings</h5>
                <p>10th Jan 2023</p>
             </div>
            </a>
        </div>

        <div class="card">
            <a href="https://replit.com/@VineethN/Snake-Game?v=1?outputonly=1&lite=true" style="text-decoration: none;" target="_blank">
            
            <div class="card-image">
               <img src="images/snake.png">
            </div>
            <div class="card-text">
               <h4>Play Snake Game!</h4>
               <h5>Your favorite snake game with Python (pun intended😉)</h5>
               <p>15th Feb 2023</p>
            </div>
            </a> 
       </div>

       <div class="card">
         <a href="https://replit.com/@VineethN/US-States-Game?v=1?outputonly=1&lite=true" style="text-decoration: none;" target="_blank">
         
         <div class="card-image">
            <img src="images/states.png">
         </div>
         <div class="card-text">
            <h4>How many US States can you guess?</h4>
            <h5>This app helps you learn the states in the US</h5>
            <p>24th Feb 2023</p>
         </div>
         </a> 
      </div>

      <div class="card">
         <a href="https://replit.com/@VineethN/Pomodoro-App?v=1?outputonly=1&lite=true" style="text-decoration: none;" target="_blank">
         
         <div class="card-image">
            <img src="images/pomodoro.png">
         </div>
         <div class="card-text">
            <h4>Pomodoro App</h4>
            <h5>A simple but powerful productivity tool</h5>
            <p>12th Mar 2023</p>
         </div>
         </a> 
      </div>

      <div class="card">
         <a href="https://replit.com/@VineethN/Turtle-Graphics?v=1?outputonly=1&lite=true" style="text-decoration: none;" target="_blank">
         
         <div class="card-image">
            <img src="images/spiro.png">
         </div>
         <div class="card-text">
            <h4>Turtle Graphics</h4>
            <h5>Create Amazing Graphics with Python's Turtle library</h5>
            <p>19th Mar 2023</p>
         </div>
         </a> 
      </div>



    </div>

    </div>
</body>