
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
html
{
/*margin: 0;
padding: 0;
box-sizing: border-box;*/
font-family: 'Poppins', sans-serif;
}

body{
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container{
  position: relative;
  width: 100%;
  margin: 50px;
  max-width: 1000px;
  min-height: 1000px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

.subpage-container {
  position: relative;
  width: 100%;
  margin: 50px;
  max-width: 1000px;
  min-height: 1000px;
  background-color: #003147;
  /* display: grid;
  grid-template-columns: 1fr 2fr; */
  box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

.container .left-side{
  background-color: #003147;
  position: relative;
  padding: 40px 35px;
}

.profileText{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profileText .imgBox{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.profileText h2{
  color: #fff;
  /* margin-top: 20px; */
  font-size: 1.5rem;
  line-height: 1.4em;
  font-weight: 600;
  text-transform: uppercase;
}

.profileText h2 span{
  font-size: 1rem;
  font-weight: 300;
}

.profileText .imgBox img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contactInfo{
  padding-top: 40px;
}

.contactInfo ul{
  padding-left: 0px;
}
.contactInfo ul li{
  list-style: none;
  cursor: pointer;
  margin: 10px 0;
}
.contactInfo ul li .icon{
  display: inline-block;
  color: #03a9f4;
  width: 30px;
}

.contactInfo ul li span{
  /* display: inline; */
  color: #fff;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1rem;
}

.contactInfo ul li span a{
  /* display: inline; */
  color: #fff;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1rem;
  text-decoration: none;
}

.title{
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

/* Education Section */

.contactInfo.education ul li{
  margin-bottom: 15px;
}

.contactInfo.education h5{
  color: #03a9f4;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

.contactInfo.education h4{
  color: #fff;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

.contactInfo.education h4:nth-child(3){
  color: #fff;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.8rem;
}

/* Languages */

.contactInfo.languages .languageContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.contactInfo.languages .languageContainer .human{
  text-align: center;
  margin: 0 10px;
}

.contactInfo.languages .languageContainer .machine{
  text-align: center;
  margin: 0 20px 0 10px;
}

.contactInfo.languages .languageContainer i{
  color: #03a9f4;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img{
  height: 250px;
  width: 250px;
}

.container .right-side{
  background-color: #fff;
  position: relative;
  padding: 40px;
}

.container .right-side p{
  text-align: justify;
  color: #333;
  font-size: 0.9rem;
}

.about{
margin-bottom: 50px;
}

.title2{
  color: #003147;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 0;
}
.interests span{
  color: #003147;
  text-transform: uppercase;
  font-weight: 500;
  font-size: xx-small;
  letter-spacing: 0px;
  margin-top: 0;
  margin-bottom: 0;
}

.about .box{
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  margin: 20px 0;
}

.about .box .year_company{
  flex: 30;
  min-width: 150px;
  padding-right: 10px;
}

.about .box .text{
  flex: 70;
  min-width: 150px;
  padding-left: 10px;
}

.box .year_company h5{
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #848c90;
  font-weight: 600;
}

.box .text h4{
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #2a7da2;
  font-size: 1em;
}

.skills .box{
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.skills .box h4{
  color: #848c90;
  font-weight: 600;
  text-transform: uppercase;
  margin: 7.5px 0;
}

.skills .box .percent{
  position: relative;
  height: 10px;
  width: 100%;
  background: #f0f0f0;
}

.skills .box .percent div{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #03a9f4;
}

.Passion-Icons{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

figure {
    margin: 5px 20px;

} 


figure figcaption {
    border: 1px;
    text-align: center;
}

figure figcaption h5 {
  margin-top: 0px;
  margin-bottom: 0px;

}

.nav-button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  float: right;
  margin: 10px;
  border-radius: 10%;
}

.subpage-container h2{
  color: #fff;
  margin: 40px 20px 20px 20px;
  font-size: 1.5rem;
  line-height: 1.4em;
  font-weight: 600;
  text-transform: uppercase;
}

.card-container{
  display: flex;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 25px;
  margin: 10px;
  background-color: #fff;
  max-width: 350px;
  max-height: 300px;
}

.card-image {
  text-align: center;
}

.card img{
  width: 90%;
  border-radius: 25px;
  margin: 2px;
  max-height: 185px;
}
/* Add some padding inside the card container */
.card-text {
  padding: 2px 16px;
}

.card-text h4{
  margin-top: 2px;
  color: black;
}

.card-text p{
  margin-bottom: 10px;
  font-size: small;
  color: black;
}

@media (max-width: 1050px){
  .card-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

}

@media (max-width: 1000px) {
  .container {
    margin: 10px;
    grid-template-columns: repeat(1,1fr);
  }
}

@media (max-width: 600px) {
  .about .box {
      flex-direction: column;
    }
  .about .box .year_company{
    margin-bottom: 5px;
  }
  .skills .box{
    grid-template-columns: repeat(1,1fr);
  }
  
}

@media (max-width: 700px){
  .card-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }

}

@media (max-width: 415px) {
  .container {
    margin: 0px;
    grid-template-columns: repeat(1,1fr);
  }
  .subpage-container {
    margin: 0px
  }
}
